<div class="wrapper">
<h1>Remember</h1>
<h3>Your opinion is the best opinion</h3>
<form class="newGabForm" action="/gabble/create" method="post">
  <textarea draggable="false" class="newGabTextbox" name="newGab"></textarea>
  <br/>
  <input type="submit" name="" value="Gab it"/>
</form>
</div>
