<h2>Login to Gabble</h2>

<form action="/login/" method="post">
  <div class="loginForm">
    <label for="username">Username</label>
    <input type="username" name="username" placeholder="Username"/>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password"/>
  <button type="submit">Login</button>
  </div>
</form>
